.layout-4
{
	background-color: $clr-theme;
	padding: $rem * 130 0;
	@media (max-width: $media-768)
	{
		padding: $rem * 110 0;
	}
	@media (max-width: $media-480)
	{
		padding: $rem * 100 0;
	}
	&__title
	{
		max-width: $rem * 1100;
		margin-bottom: $rem * 70;
		@media (max-width: $media-768)
		{
			margin-bottom: $rem * 50;
			text-align: center;
		}
	}
	&__list
	{
		display: flex;
		justify-content: space-between;
		margin: 0 $rem * -20;
		@media (max-width: $media-768)
		{
			flex-flow: column;
			margin: 0;
		}
		&-item
		{
			width: calc(100% / 3);
			max-width: $rem * 400;
			margin: 0 $rem * 20;
			@media (max-width: $media-768)
			{
				width: 100%;
				max-width: none;
				margin: 0 0 $rem * 60 0;
				text-align: center;
			}
			&:last-child
			{
				margin-bottom: 0;
			}
			&-icon
			{
				width: $rem * 127;
				margin-bottom: $rem * 40;
				@media (max-width: $media-768)
				{
					margin-bottom: $rem * 20;
				}
			}
			&-title
			{
				margin-bottom: $rem * 20;
			}
			&-text
			{
				font-size: $rem * 17;
				line-height: $rem * 20;
				@media (max-width: $media-768)
				{

				}
			}
		}
	}
}
