.layout-6
{
	position: relative;
	background-color: $clr-theme;
	padding: $rem * 75 0 $rem * 30;
	text-align: center;
	&::after
	{
		content: '';
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background: linear-gradient(180deg, rgba(27, 207, 218, 0) 0%, rgba(27, 207, 218, 0.2) 100%);
		height: $rem * 270;

	}
	&__title
	{
		position: relative;
		z-index: 2;
		max-width: $rem * 800;
		margin: 0 auto $rem * 40;
		@media (max-width: $media-768)
		{
			margin-bottom: $rem * 20;
		}
	}
	&__info
	{
		position: relative;
		z-index: 2;
		max-width: $rem * 550;
		margin: 0 auto $rem * 20;
		font-size: $rem * 24;
		line-height: $rem * 28;
		a
		{
			display: block;
		}
	}
	&__contacts
	{
		position: relative;
		z-index: 2;
		max-width: $rem * 350;
		margin: 0 auto $rem * 100;
		font-size: $rem * 17;
		line-height: $rem * 20;
		@media (max-width: $media-768)
		{
			margin: 0 auto $rem * 60;
		}
	}
}
