.layout-1
{
	position: relative;
	background-image: url('../img/bg-layout-1.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: $rem * 30 0 $rem * 60 0;
	overflow: hidden;
	@media (max-width: $media-480)
	{
		padding: $rem * 30 0;
	}
	&__main
	{
		text-align: center;
		&-img
		{
			position: relative;
			z-index: 1;
			left: $rem * 65;
			width: 100%;
			max-width: $rem * 635;
			@media (max-width: $media-768)
			{
				left: 0;
			}
			@media (max-width: $media-480)
			{
				width: 140%;
				left: -12.5%;
			}
		}
		&-title
		{
			position: relative;
			z-index: 3;
			margin-top: $rem * -130;
		}
	}
	&__star
	{
		position: absolute;
		z-index: 2;
		margin: auto;
		&--1
		{
			width: $rem * 65;
			height: $rem * 65;
			right: 0;
			bottom: 40%;
			left: -60%;
			@media (max-width: $media-768)
			{
				bottom: 50%;
				left: -80%;
			}
			@media (max-width: $media-480)
			{
				width: $rem * 20;
				height: $rem * 20;
			}
		}
		&--2
		{
			width: $rem * 25;
			height: $rem * 25;
			top: 30%;
			right: 0;
			left: -30%;
			@media (max-width: $media-768)
			{
				top: 12.5%;
				left: -70%
			}
			@media (max-width: $media-480)
			{
				display: none;
			}
		}
		&--3
		{
			width: $rem * 25;
			height: $rem * 25;
			top: $rem * 125;
			right: 0;
			left: $rem * 120;
			@media (max-width: $media-768)
			{
				top: $rem * 180;
				left: $rem * -5;
			}
			@media (max-width: $media-480)
			{
				top: $rem * 130;
				left: $rem * 30;
			}
		}
		&--4
		{
			width: $rem * 45;
			height: $rem * 45;
			right: -60%;
			bottom: 30%;
			left: 0;
			@media (max-width: $media-768)
			{
				width: $rem * 25;
				height: $rem * 25;
				right: -65%;
				bottom: 35%;
			}
			@media (max-width: $media-480)
			{
				display: none;
			}
		}
		&--5
		{
			width: $rem * 80;
			height: $rem * 80;
			top: 25%;
			right: -70%;
			left: 0;
			@media (max-width: $media-768)
			{
				width: $rem * 42;
				height: $rem * 42;

			}
			@media (max-width: $media-480)
			{
				top: 45%;
				right: -55%;
			}
		}
	}
}
