doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Virtual Reality Technology
		link(rel="stylesheet", href="css/bundle.min.css")

	body
		include views/layouts/layout-1
		include views/layouts/layout-2
		include views/layouts/layout-3
		include views/layouts/layout-4
		include views/layouts/layout-5
		include views/layouts/layout-6
		script(src="js/bundle.min.js")
