.header.wow.fadeInDown
	.header__logo Virtual Reality Technology
	nav.header__nav
		ul.header__nav-list
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#") About
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#") Services
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#") Contact
