.layout-4
	.wrap
		h2.layout-4__title.title-2 We don’t just provide development services! We care for small details too
		ul.layout-4__list
			li.layout-4__list-item
				img.layout-4__list-item-icon(src="img/sprite.svg#i-layout-4-list-1", alt="")
				h3.layout-4__list-item-title.title-4 Web, Apps, Software Design & Development
				p.layout-4__list-item-text We provide back-end, front-end, database solution, and software development so your company will receive a full package that works for you!
			li.layout-4__list-item
				img.layout-4__list-item-icon(src="img/sprite.svg#i-layout-4-list-2", alt="")
				h3.layout-4__list-item-title.title-4 Digital Marketing
				p.layout-4__list-item-text We create cutting-edge digital marketing solutions to help you generate new leads, accelerate sales and increase your revenue. We eliminate the online marketing challenges that hold many businesses back from reaching their full potential.
			li.layout-4__list-item
				img.layout-4__list-item-icon(src="img/sprite.svg#i-layout-4-list-3", alt="")
				h3.layout-4__list-item-title.title-4 DevOps and Automation
				p.layout-4__list-item-text Our software ensures on-boarding with automatic end to end testing, which reduces human assistance costs. Ultimately, we can deliver reliable infrastructures faster than ever before!
