.layout-3
	.wrap
		ul.layout-3__list
			.layout-3__list-item.wow.fadeInUp(data-wow-delay="0.2s")
				img.layout-3__list-item-icon.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.8s")
				span Offering you what we do best
			.layout-3__list-item.wow.fadeInUp(data-wow-delay="0.4s")
				img.layout-3__list-item-icon.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="1s")
				span Caring about the impact our work has on your business
			.layout-3__list-item.wow.fadeInUp(data-wow-delay="0.6s")
				img.layout-3__list-item-icon.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="1.2s")
				span Viewing our engagements as relationships — not vendor agreements
		.layout-3__info
			.layout-3__info-main VRT has made themselves known as experts on how to use VR technology effectively by providing innovative solutions tailored specifically to your needs which makes us the preferred partners when You are looking for professional IT assistance.
			.layout-3__info-note
				p.layout-3__info-note-item VRT help businesses of all sizes to grow from scrappy startups with straightforward products, like a HoReCa project or an online edtech service.
				p.layout-3__info-note-item We can also support more complex services for companies that are looking to expand into new markets and territories without compromising their existing business practices.
