.layout-6
	.wrap
		h2.layout-6__title.title-2 What can we do together?
		.layout-6__info Don't hesitate to contact us with your query. We are happy to get back to you
			a.link(href="mailto:info@vrtechnology.tech") info@vrtechnology.tech
		.layout-6__contacts Wasu 1 BDG. P FL. Unit P 01 1, Sukhumvit 25 Sukhumvit Khlong Toei Nues 10110, Thailand
		include footer
