.layout-5
	.wrap
		.layout-5__row
			ul.layout-5__list
				li.layout-5__list-item
					img.layout-5__list-item-icon.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.2s")
					.layout-5__list-item-info
						h3.layout-5__list-item-info-title.title-3 We can help you succeed your project
						p.layout-5__list-item-info-text As a startup VRT has a very diverse team to support our clients with a wide variety of services and products.
				li.layout-5__list-item
					img.layout-5__list-item-icon.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.4s")
					.layout-5__list-item-info
						h3.layout-5__list-item-info-title.title-3 Highest level client satisfaction is our main aim
						p.layout-5__list-item-info-text Best service is not only about providing the best software rather it also involves other important areas such as deadline, support. We always try to be on top it to provide the best customer relationship experience
			img.layout-5__img(src="img/pict-layout-5.png", alt="")
