.layout-2#layout-2
	.wrap.wrap--small
		ul.layout-2__list
			li.layout-2__list-item
				.advantages
					.advantages__info
						h2.advantages__info-title.title-2 Agile and Scrum
						p.advantages__info-text Software development with agile software development team with scrum and best project management practices.
					.advantages__picture
						img.advantages__picture-img.wow.pulse(src="img/i-layout-2-1.svg", alt="", data-wow-delay="0.4s")
			li.layout-2__list-item
				.advantages.advantages--mirror
					.advantages__info
						h2.advantages__info-title.title-2 Speed and Optimization
						p.advantages__info-text Our main objective is to offer fast development, highest level of quality, cross platform and provide maintenance.
					.advantages__picture
						img.advantages__picture-img.wow.pulse(src="img/i-layout-2-2.svg", alt="", data-wow-delay="0.4s")
			li.layout-2__list-item
				.advantages
					.advantages__info
						h2.advantages__info-title.title-2 Secure and Accessible
						p.advantages__info-text We are always on top of the latest security trends practice but we ensure bugfree, well tested high performance service.
					.advantages__picture
						img.advantages__picture-img.wow.pulse(src="img/i-layout-2-3.svg", alt="", data-wow-delay="0.4s")
