.layout-1
	.wrap.wrap--small
		include header
		.layout-1__main
			img.layout-1__main-img(src="img/pict-layuot-1.png", alt="")
			h1.layout-1__main-title.title-1.wow.fadeInUp Your #[span.title-1__no-break one-stop] #[span.title-1__bold tech solution]
	img.layout-1__star.layout-1__star--1.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.4s")
	img.layout-1__star.layout-1__star--2.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.6s")
	img.layout-1__star.layout-1__star--3.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="0.8s")
	img.layout-1__star.layout-1__star--4.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="1s")
	img.layout-1__star.layout-1__star--5.wow.bounceIn(src="img/sprite.svg#i-star", alt="", data-wow-delay="1.2s")
