html
{
	font-family: $font-main-regular;
	font-size: 16px;
	color: $clr-white;
	@media (max-width: $media-1024)
	{
		font-size: $rem * 12;
	}
	@media (max-width: $media-768)
	{
		font-size: $rem * 16;
	}
}
.wrap
{
	width: 90%;
	margin: 0 auto;
	padding: 0 $rem * 20;
	box-sizing: border-box;
	&--small
	{
		max-width: $rem * 900;
	}
}
