html
{
	font-family: $font-main-regular;
	font-size: 16px;
	color: $clr-white;
	// @media (max-width: $media-1024)
	// {

	// }
}
.wrap
{
	width: 95%;
	margin: 0 auto;
	padding: 0 $rem * 20;
	box-sizing: border-box;
	min-width: $rem * 320;
	&--small
	{
		max-width: $rem * 900;
	}
}
