@font-face {
	font-family: 'HeliosExt';
	src        : url('../fonts/HeliosExt/HeliosExt.eot');
	src        : url('../fonts/HeliosExt/HeliosExt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HeliosExt/HeliosExt.svg#HeliosExt') format('svg'),
		url('../fonts/HeliosExt/HeliosExt.ttf') format('truetype'),
		url('../fonts/HeliosExt/HeliosExt.woff') format('woff'),
		url('../fonts/HeliosExt/HeliosExt.woff2') format('woff2');
	font-weight: normal;
	font-style : normal;
}

@font-face {
	font-family: 'HeliosExt-Bold';
	src        : url('../fonts/HeliosExt/HeliosExt-Bold.eot');
	src        : url('../fonts/HeliosExt/HeliosExt-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HeliosExt/HeliosExt-Bold.svg#HeliosExt-Bold') format('svg'),
		url('../fonts/HeliosExt/HeliosExt-Bold.ttf') format('truetype'),
		url('../fonts/HeliosExt/HeliosExt-Bold.woff') format('woff'),
		url('../fonts/HeliosExt/HeliosExt-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style : normal;
}
